@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/*
    Inspired by:
    - source code of 37signals https://37signals.com/
    - Html-centric design https://html-first.com/guidelines
    - General guidelines https://github.com/bendc/frontend-guidelines
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    /*outline: 1px solid red;*/
}

button, input, select, textarea {
    font: inherit;
    background: transparent;
    border: 0;
}

ol, ul, menu {
    list-style: none;
}

:root {
    --font-family: "Inter", Sans-Serif;
    --font-family-mono: 'Fira Code', Monospace;

    --color-white: #fff;
    --color-grey-light: #f0f0f0;
    --color-grey-dark: rgb(15, 21, 27);
    --color-red: #C82829;
    --color-yellow: #F5E642FF;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--font-family), sans-serif;
    font-size: 1rem;
    color: var(--color-grey-dark);
    background-color: var(--color-white);
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* form controls */
input,
button {
    border: 1px solid var(--color-grey-dark);
    background-color: var(--color-white);
    border-radius: 0.15rem;
    padding: 0.2rem 0.55rem;
}

button:hover:enabled {
    cursor: pointer;
}

button:hover:enabled {
    background-color: var(--color-grey-light)
}

a {
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}


.announcement {
    padding: 0.5rem 1rem;
    border-bottom: var(--color-grey-light) 1px solid;
    align-items: center;
}

.announcement--error {
    background-color: var(--color-red);
    color: var(--color-white);
}

.announcement--warn {
    background-color: var(--color-yellow);
    color: var(--color-grey-dark);
}

.announcement a {
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 0.7rem;

    padding: 0.7rem 1rem;
    border-bottom: var(--color-grey-light) 1px solid;
}

@media (min-width: 48em) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.header h1 {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    line-height: 1;
}

.online-sites {
    display: flex;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (min-width: 48em) {
    .online-sites {
        justify-content: flex-end;
    }
}

.online-sites li {
    color: var(--color-white);
    /* the same as buttons */
    padding: 0.2rem 0.55rem;
    border-radius: 0.15rem;
}

.name-form {
    display: flex;
    column-gap: 0.3rem;
    row-gap: 0.2rem;
    align-items: center;
    flex-wrap: wrap;
}

.name-form__label {
    margin-right: 0.5rem;
}

#editor-view {
    flex: 1;
}

.cm-editor {
    height: 100%;
}

#editor-view .cm-editor.cm-focused {
    /* selector is so specific in order to overwrite codemirror defaults */
    outline: none;
}

.cm-editor .cm-content {
    font-family: var(--font-family-mono), monospace;
    font-size: 1rem;
}

.cm-editor .cm-lineNumbers {
    min-width: 2rem;
}
